<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfusionhub.mapper.AgentEvaluationCaseMapper">

    <resultMap id="BaseResultMap" type="com.hfusionhub.entity.AgentEvaluationCase">
        <id column="id" property="id"/>
        <result column="dataset_id" property="datasetId"/>
        <result column="query" property="query"/>
        <result column="expected_answer" property="expectedAnswer"/>
        <result column="expected_sources" property="expectedSources"
                typeHandler="com.hfusionhub.handler.JsonListTypeHandler"/>
        <result column="privilege_test" property="privilegeTest"
                typeHandler="com.hfusionhub.handler.JsonMapTypeHandler"/>
        <result column="metadata" property="metadata"
                typeHandler="com.hfusionhub.handler.JsonMapTypeHandler"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

</mapper>
